<div class="flickr_pagination">
  <%= will_paginate @results, :container => false %>
</div>
<%=render 'result'%>
<div class="flickr_pagination">
  <%= will_paginate @results, :container => false %>
</div>