<div class="flickr_pagination">
  <%= will_paginate @posts, :container => false %>
</div>
<%= render 'posts/post' %>
<div class="flickr_pagination">
  <%= will_paginate @posts, :container => false %>
</div>